.wrapper-button {
  display: inline-flex;
  align-items: center;
  // justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-left: 16px;
  min-width: 100px;
  min-height: 36px;
  color: rgba(22, 24, 35, 1);
  // padding: 7px 29px;
  padding: 8px 13px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid transparent;
  user-select: none;

  + .wrapper {
    margin-left: 8px;
  }
  &.disabled {
    pointer-events: none;
  }
  &:active {
    background-color: aliceblue;
  }
}
.separate {
  border-top: 1px solid rgba(22, 24, 35, 0.12);
  width: 100%;
  margin-left: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.rounded {
  border-color: rgba(22, 24, 35, 0.12);
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border-radius: 52px;
  color: rgba(22, 24, 35, 0.75);
  transition: transform 0.2s;
  cursor: pointer;
  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(255, 255, 255, 1);
  }
}
.outline {
  // nút viền đỏ
  color: var(--primary);
}
.fixWidth {
  width: 100%;
  margin-left: 0;
  border-radius: 0px;
  border: none;
  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
  }
}
.primary {
  //nút đỏ login
  background-color: var(--primary);

  color: var(--white);
  border-color: var(--primary);
  justify-content: center;
  &:hover {
    border-color: var(--primary);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  }
  &:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), #fe2c55;
  }
}
.home {
  background-color: transparent;
}

.text {
  border-color: var(--black);
  &:hover {
    text-decoration: underline;
  }
}

.title + .icon,
.icon + .title {
  margin-left: 8px;
}

//button size
.small {
  min-width: 88px;
  height: 22px;
  padding: 4px 16px;
}
.large {
  padding: 14px 16px;
  min-width: 140px;
}
