.form-login{
  text-align: center;
  margin-top: 60px;
}
.container-register {
  margin: 0px auto;
  margin-top: 60px;
  width: 1100px;
  padding-top: 16px;
  color: #000;
  text-align: center;
  padding-bottom: 16px;
}
.form-register {
  height: 1000px;
  width: 1100px;
  box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding: 24px 56px;
}

.input{
  font-size: 24px;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  background: rgba(22, 24, 35, 0.02);
  border-radius: 16px;
  padding: 14px;
  margin: 12px;
}