.App-formLogin {
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-top: 62px;
  background-image: url(../accsets/images/Banner-login.png);
  /* Control the height of the image */
  width: 100%;
  min-height: 899px;
  max-height: 100%;
  max-width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  border-radius: 5px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  border: none;
  border-radius: 2px;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  background-size: cover;
  /* box-shadow: rgba(22, 24, 35, 0.12); khong dùng đc*/
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 110%;
  margin-top: 20%;
}

p {
  margin-top: 0;
}

.input {
  margin: 20px 0;
  padding: 10px;
  font-size: 30px;
}

.submit {
  padding: 10px;
}

.error {
  color: red;
  font-weight: bold;
}

.useContext {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px auto 500px;
}

.todoContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.todoItem {
  border: 1px solid #eee;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.todoItem p {
  margin: 0;
}
